.option-card {
	width: 200px;
	font-weight: 400;
	margin: 30px;

	.card {
		background: #faf9f9;
		min-height: 200px;
		padding: 5px 0px 10px 10px;
	}
}

.title {
	margin-bottom: 10px;
	font-size: 26px;
}
