.option-card {
	min-width: 200px;
	font-weight: 400;
	margin: 5px;

	.card {
		background: #faf9f9;
		min-height: 250px;
		padding: 10px;
	}
}

.title {
	text-align: left;
	margin-bottom: 10px;
	font-size: 26px;
}

.slider {
	width: 85% !important;
	display: inline-block !important;
	margin-bottom: 5px;
}
