*~
**/webserver/*.pyc
**/webserver/ec2_time_bombs/
**/apps/*/live/
**/apps/*/build/webserver.log
apps/mandelbrot/build/video
apps/mandelbrot/build/cast
**.tfstate
**.tfstate.backup
**.terraform
**.terraform*
**.pem
/framework/terraform/development/centos_pwd.txt
/terraform
/tmp
**/log/
**/out/

__pycache__

# Used by scripts to remember the active F1 instance IP address.
.ec2_ip
