#content {
  background-image: url("/img?json={%22x%22:-1.0221004461908865,%22y%22:0.37353728027791605,%22pix_x%22:0.000002985021213376194,%22pix_y%22:0.000002985021213376194,%22width%22:1670,%22height%22:1490,%22max_depth%22:2500,%22darken%22:true,%22renderer%22:%22fpga%22,%22colors%22:3604480,%22modes%22:194}");
  background-attachment: fixed;
}
#mask {
  background: #000A;
  padding: 20px;
}
#content #header {
  background: #137E;
  color: #fff;
}
#content .section {
  background: #DDDD;
  color: #000;
  margin-bottom: 30px;
  padding: 10px;
}