.debug-only {
  display: none;  /* block/none */
}

#imagesContainer {
  box-sizing: content-box;
  resize: both;
  min-width: 20px;
  min-height: 20px;
  overflow: hidden;
  border: 2px solid;
  padding: 6px;
  background-color: grey;
  height: 256px;
  width: 256px;
  position: relative;
}
.viewerContainer {
  width: 100%;
  height: 100%;
  display: none;
}
#eventRecipient {
  box-sizing: content-box;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
}
.mandelbrotImage {
  pointer-events: none;
  box-sizing: content-box;
  position: absolute;
}
.imgContainer {
  pointer-events: none;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgContainer img {
  position: relative;
}
.motionInstructions {
  display: none;
}
#positionMotionInstructions {
  display: block;
}

#parameters {
  align-items: normal;
}
#parameters div {
  text-align: left;
}
#renderer label, #modes label, #edge-style label, #texture label, #motion label, #color-params label, #test-params label {
  display: inline;
}
#good-place {
  color: blue;
}
#good-place:hover {
  color: purple;
  text-decoration: underline;
}
.three-d-only, .stereo-only {
  display: none;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
