#imagesContainer {
  box-sizing: content-box;
  resize: both;
  overflow: hidden;
  border: 2px solid;
  padding: 6px;
  background-color: grey;
  height: 256px;
  width: 256px;
  position: relative;
}
.viewerContainer {
  width: 100%;
  height: 100%;
  display: none;
}
#eventRecipient {
  box-sizing: content-box;
  z-index: 100;
  width: 100%;
  height: 100%;
  position: absolute;
}
.mandelbrotImage {
  pointer-events: none;
  box-sizing: content-box;
  position: absolute;
}
.imgContainer {
  pointer-events: none;
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.imgContainer img {
  position: relative;
}

.unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
