.App {
	text-align: center;
}

.panel-container {
	display: flex;
	height: 100vh;
}

.panel {
	background: white;
	border: 1px solid gray;
	padding: 15px;
}

.resizer {
	width: 8px;
	background: rgb(223, 213, 213);
	position: relative;
	cursor: col-resize;
	flex-shrink: 0;
	-webkit-user-select: none; /* Chrome all / Safari all */
	-moz-user-select: none; /* Firefox all */
	-ms-user-select: none; /* IE 10+ */
	user-select: none; /* Likely future */
}

.resizer::after,
.resizer::before {
	content: '';
	border-left: 1px solid #333;
	position: absolute;
	top: 50%;
	transform: translateY(-100%);
	right: 0;
	display: inline-block;
	height: 20px;
	margin: 0 2px;
}
.resizer::before {
	left: 0;
}
